body {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
}
header {
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
    background-color: #809bce;
}
nav {
    padding: 15px 0;
    background-color: #95b8d1;
}
main > section {
    background-color: #b8e0d2;
}
main > article {
    background-color: #d6eadf;
}
main > article {
    background-color: #eac4d5;
}
footer {
    width: 100%;
    height: 7vh;
    background-color: #809bce;
    text-align: center;
}
.container-fluid {
    max-width: 1444px;
}
.card-body {
    display: grid;
    grid-template-columns: 35% 65%;
}
#app > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2% 10px;
    justify-content: center;
}
#app > .container-fluid .card {
    flex-basis: calc(100% / 4);
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% / 3);
}
.card {
    display: flex;
    flex-direction: column;
}
.card > div {
    flex: 1 1 auto;
}
